
digiseiWindowsService/.vs
digiseiWindowsService/digiseiWindowsService/bin
digiseiWindowsService/digiseiWindowsService/obj
digiseiWindowsService/digiseiWindowsService/obj/Release/DesignTimeResolveAssemblyReferences.cache
digiseiWindowsService/digiseiWindowsService/obj/Release/DesignTimeResolveAssemblyReferences.cache
digiseiWindowsService/digiseiWindowsService/obj/Release/DesignTimeResolveAssemblyReferences.cache
